<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<div class="container my-4">
  <div class="mb-3 row d-flex gap-3 justify-content-between">
    
    <% data.forEach(value => { %>
    
      <div class="col-sm-5 col-lg-3">
        <div class="card" style="min-width: 300px;">
          <div class="card-body">
            <h5 class="card-title"><%= value.title  %></h5>
            <p class="card-text"><%= value.dec  %></p>
            <a href="/tools/<%= value.slug  %>" class="btn btn-primary">Use tool</a>
          </div>
        </div>
      </div>
    
    <% }) %>
    
 
  </div>
  
  <!-- 
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
   -->
</div>
    
<%- include("../partials/foot.ejs", {src : ""}) %>